<h1>Ticket Detail</h1>
<h3>Excavators</h3>
<table>
<style>
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}
th{
  text-align: center;
  background-color: #f2f2f2;
}

table, th, td {
  border: 1px;
  border-style:solid;
  border-color: #CACFD2 ;
}

tr:nth-child(even) {background-color: #f2f2f2;}
</style>
  <tr>
    <th><b>Request Number</th><td><%= @ticket.request_number %></td>
  </tr>
  <tr>
    <th>Sequence Number</th><td><%= @ticket.sequence_number %></td>
  </tr>
  <tr>
    <th>Request Type</th><td><%= @ticket.request_type %></td>
  </tr>
  <tr>
    <th>Request Action</th><td><%= @ticket.request_action %></td>
  </tr>
  <tr>
    <th>Response Due Date Time</th><td><%= @ticket.request_due_date_time %></td>
  </tr>
  <tr>
    <th>Primary Service Area Code</th><td><%= @ticket.primary_service_area_code %></td>
  </tr>
   <tr>
    <th>Additional Service Area Codes</th><td><%= @ticket.additional_service_area_codes.join(', ') %></td>
  </tr>
  <tr>
    <th>Excavator - Company Name</th><td><%= @ticket.excavators.first.company_name %></td>
  </tr>
  <tr>
    <th>Excavator - Address</th><td><%= @ticket.excavators.first.address %></td>
  </tr>
  <tr>
    <th>Excavator - Crew on site</th><td><%= @ticket.excavators.first.crew_on_site %></td>
  </tr>
</table>

<h3>Dig site Map</h3>

<%= area_map [{geometry: {type: "Polygon", coordinates:  [@ticket.get_geocode]}, label: "Dig Site"}] %>